<div class="col-md-3">
    <nav class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}" class="nav-link text-dark{% if request.path == '/dashboard/' %} bg-warning{% endif %}">Dashboard</a>
        <a href="{% url 'categories' %}" class="nav-link text-dark{% if '/categories/' in request.path %} bg-warning{% endif %}">Categories</a>
        <a href="{% url 'posts' %}" class="nav-link text-dark{% if '/posts/' in request.path %} bg-warning{% endif %}">Posts</a>
        {% if perms.auth.view_user %}
            <a href="{% url 'users' %}" class="nav-link text-dark{% if request.path == '/dashboard/users/' %} bg-warning{% endif %}">Users</a>
        {% endif %}
    </nav>
</div>